.headerNavbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .headerText {
    color: white;
  }
  .headerText:hover {
    color: $primary;
  }
}

.headerNavbarMenu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: white;

  @include tablet {
    gap: 0px;
  }
}

.headerNavbarCallButton {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.mobileMenu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}

.active {
  display: block;
}