.headerNavbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerNavbarMenu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.headerNavbarCallButton {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
