/* audit_dashboard_fronend/assets/antd.css */
.ant-select-selector
 {
    height: 40px !important;
    line-height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
