/* audit_dashboard_fronend/assets/antd.css */
.ant-select-selector
 {
    height: 40px !important;
    line-height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-input-affix-wrapper{
   display: flex !important;
   align-items: center !important;
   overflow: hidden;
}

.ant-tabs-nav-wrap{
    margin-left: 0;
}

.ant-modal-content{
    padding: 0 !important;
}

.ant-select-selection-item{
    font-family: 'Inter', sans-serif;
}