.wrapper {
  display: flex;
  align-items: stretch;

  .content {
    display: flex;
    padding: 40px 160px;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
    flex: 1 0 0;

    @include mobile {
      padding: 40px 16px;
    }

    @include tablet {
      padding: 40px 60px;
    }

    .detail {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .clause {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .header {
          display: flex;
          align-items: stretch;
          gap: 16px;
          align-self: stretch;
          margin-top: 24px;

          p {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
          }

          .mark {
            background-color: #f9d7c6;
            width: 16px;
            border-radius: 4px;
          }
        }

        .statement {
          list-style-type: disc;

          li {
            margin: 8px 0px;
            margin-left: 15px;
          }
        }

        .addressBlock {
          display: flex;
          padding: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;
          border-radius: 16px;
          background: #FBFAFC;

          .contactItem {
            display: flex;
            align-items: center;
            gap: 16px;
            align-self: stretch;
          }
        }
      }
    }
  }
}
